@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161516;
  --foreground: #ffffff;
}

.bg-gradient-custom {
  @apply bg-gradient-to-r from-[#FFD88C]  to-[#E45826];
}

.px-custom {
  @apply px-[120px];
}

.primary {
  @apply bg-primary;
}
.black {
  @apply text-black_custom;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
